<div class="container-fluid mx-auto p-5 text-center mt-3" [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">
  <div class="container row justify-content-center align-items-center mx-auto  mt-5">
    <div class="col-md-6 col-12">
      <img class="book-image mb-3 w-100" [src]="book.image" alt="{{book.name}}">
    </div>
    <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-start">
      <h3 class="book-title">{{book.name}}</h3>
      <p class="book-description">{{book.description}}</p>
    </div>
  </div>
</div>
